@*******************************************************
* Template is like as function, we can pass parameters *
*******************************************************@
@(customer : models.Customer, orders: Seq[(models.Order,models.Product)])
  <h1>Shop</h1>
  @*****************************
  * Declare dynamic statements *
  *****************************@
  
  @if(!orders.isEmpty) {
      <ul>
        @*****************************
       * Iterate with for           *
        *****************************@
        @for((order, product) <- orders) {
          @displayOrder(order, product)
        }
      </ul>
  } else {
      <div>No orders</div>
  }
  
  @*****************************
  * Define scoped value        *
  *****************************@
  @defining(customer.firstName + " " + customer.name) { fullName =>
   <h4>Thank you @fullName</h4>
  }
  @*****************************
  * Declare reusable block     *
  *****************************@
  @displayOrder(order: models.Order, product: models.Product) = {
    <li>@product.name @(order.quantity * product.price) </li>
  }
  
  